@use 'variables' as *;

h1 {
  font-size: clamp(28px, 5vw, 72px);
  font-weight: 600;
  line-height: 1.05;
  margin: 0;
}

h2 {
  font-size: clamp(26px, 4vw, 60px);
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

em {
  font-style: italic;
  font-weight: 600;
  color: var(--text-accent);
}